<!doctype html>
<title>Sentinel downloader cphEO</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% block content %}{% endblock %}
{% block myscript %}{% endblock %}
